.TodoList {
  list-style: none;
  margin: 1rem 0;
  padding: 0;

  &__li {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0 0 0 15px;
    height: 40px;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
      border-color: #85c1e9;

      .TodoList__buttons {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__buttons {

  }

}
