.Repo {
  margin-bottom: 50px;
  text-align: right;

  &__img {
    margin-right: 2px;
    width: 30px;
    height: 30px;
  }

  &__link {
    color: #0e577f;

    &:visited {
      color: #0e577f;
    }
  }
}